
.tabbed-wrap{

	position: relative;
	width: 100%;
	height:auto;
	text-align: center;
	overflow: hidden;
	@include transition(all 0.3s ease-in-out);

	[data-tab]{

		display: inline-block;
		vertical-align: middle;
		border-bottom: 2px solid transparent;
		margin: 10px;
		text-transform: uppercase;
		@include font-family(primary);
		@include font-size(16px);
		@include color(text-color);

		&:not(.active){

			cursor: pointer;

		}

		&.active{

			border-bottom: 2px solid map_get($colors, brand);
			@include color(brand);

		}

	}

	[data-tab-content]{

		position: absolute;
		width: 100%;
		left:-100%;

	}

}


body.touch{

	.tabbed-wrap{

		$tabsHeight: 40px;
		$gradiwntWidth: 50px;

		.toggle-wrap {

			overflow-x: scroll;
			overflow-y: hidden;
			width: 100%;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
			vertical-align: middle;
			line-height: $tabsHeight;

			&:after {

				content: '';
				position: absolute;
				top: 0;
				width: $gradiwntWidth;
				height: $tabsHeight;
				right: 0;
				background: rgba(255, 255, 255, 0);
				background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
				background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
				background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
				background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
			}

			[data-tab] {

				&:last-child{

					margin-right: $gradiwntWidth;

				}

			}

		}
	}

